body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* ------------------------------- */
/* ------------------------------- */


.header {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;

    background-color: #fff;
}

.header-inner {
    width: 84.2%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 7.8%;
    height: 60%;

    overflow: hidden;
    position: relative;
}

.header-logo img {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-nav {
    width: 30%;
    margin: 0 3% 0 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;
}

.nav-item {
    border-bottom: 0 solid #3F3D56;
}

.nav-item:hover {
    border-bottom: 2px solid #3F3D56;
    cursor: pointer;
}

.header-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 29.2%;
    height: 100%;
}

.phone-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
}

.phone-btn {
    width: 47%;
    height: 71.4%;

    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;

    background: linear-gradient(90deg, rgba(53, 204, 121, 1), rgba(52, 125, 85, 0.65));

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: none;
}
