body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;

    background-color: #FAFAFA;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* ------------------------------- */
/* ------------------------------- */


.header {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;

    background-color: #fff;
}

.header-inner {
    /*width: 84.2%;*/
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 7.8%;
    height: 60%;

    overflow: hidden;
    position: relative;

    top: -5%;
}

.header-logo img {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-nav {
    width: 30%;
    margin: 0 3% 0 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;
}

.nav-item {
    border-bottom: 0 solid #3F3D56;
}

.nav-item:hover {
    border-bottom: 2px solid #3F3D56;
    cursor: pointer;
}

.header-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 32%;
    height: 100%;
}

.phone-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;

    margin-right: 5%;
}

.phone-btn {
    width: 55%;
    height: 71.4%;

    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;

    background: linear-gradient(90deg, rgba(53, 204, 121, 1), rgba(52, 125, 85, 0.65));

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: none;

    cursor: pointer;
    transition: background-color 0.1s linear;
}

.phone-btn:hover {
    background: linear-gradient(90deg, rgba(65, 216, 133, 1), rgba(64, 137, 97, 0.65));
}


/* ------------------------------- */
/* ------------------------------- */


.intro {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 56px;

    font-family: 'Open Sans', sans-serif;
}

.intro-inner {
    /*width: 84.4%;*/
    width: 75%;
}

.intro-title {
    font-size: 55px;
    line-height: 24px;
    font-weight: 700;
}

.intro-content {
    display: flex;
    width: 100%;
}

.intro-text {
    margin-top: 130px;
    width: 40%;
}

.intro-subtitle {
    font-size: 40px;
    line-height: 20px;
    font-weight: 600;

    margin-bottom: 37px;
}

.line {
    width: 200px;
    border-radius: 20px;
    height: 3px;
    background-color: #B4ABAB;
}

.intro-subtitle-text {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;

    margin-top: 23px;
}

.intro-img {
    margin-left: 10%;
    width: 50%;
    margin-top: 60px;
}

.intro-img img {
    height: 100%;
    width: 100%;
}


/* ------------------------------- */
/* ------------------------------- */


.about {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 80px;

    font-family: 'Open Sans', sans-serif;
}

.about-inner {
    /*width: 84.4%;*/
    width: 75%;
}

.about-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 24px;

    text-align: center;
    margin-bottom: 85px ;
}

.about-content {
    width: 100%;
    display: flex;
}

.about-text {
    width: 40%;
}

.about-subtitle {
    font-weight: 600;
    font-size: 40px;

    margin-bottom: 23px;
}

.about-subtitle-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    margin-top: 36px;
}

.about-img {
    width: 57%;
    margin-left: 3%;

    height: 100%;
}

.about-img img {
    width: 100%;
    height: 100%;
}

.about-items {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-item {
    width: 24%;
}

.about-item img {
    width: 100%;
}


/* ------------------------------- */
/* ------------------------------- */














